.header-bar {
    display: flex;
    position: sticky;
    top: 0px;
    height: 80px;
    width: 100%;
    background-color: var(--brown);
    z-index: 20;
}
.nav-logo-container {
    display: flex;
    align-items: center;
    position: absolute;
    width: 185px;
    height: 80px;
    margin-left: 10px;
    z-index: 20;
}
.nav-logo {
    position: inherit;
    align-self: center;
    width: 185px;
    height: 63px;
    top: 14px;
}
.nav-containter {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100vw;
    height: 80px;
    z-index: 19;
}

/*blokk*/
.nav-list, .nav-list *, .toggle-button, .toggle-button * {
    transition: all .3s ease-in-out;
}
.nav-list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 80px;
    width: 70vw;
    max-width: 1500px;
    color: var(--white);
    text-decoration: none;
    list-style: none;
    font-size: 25px;
    letter-spacing: 0.2em;
    font-family: var(--navFont);
}

.nav-list-elem {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.nav-list-elem a:hover {
    color: rgba(0, 0, 0, 0.74);
    transition: all .3s ease-in-out;
}
.toggle-button {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
}
.bar {
    height: 1px;
    width: 100%;
    background-color: var(--white);
    border-radius: 10px;
}

/*max-width query*/
@media screen and (max-width: 1280px) {
    .nav-list {
        position: inherit;
        right: 0px;
        width: 80vw;
    }
}

@media screen and (max-width: 992px) {
    .nav-list-elem a {
        font-size: 1rem;
        letter-spacing: 0em;
    }
}

@media screen and (max-width: 768px) {
    .nav-list {
        display: flex;
        flex-direction: column;
        top: 80px;
        width: 100%;
        height: auto;
        padding-bottom: 30px;
        background-color: var(--brown);
        opacity: 0;
        transform: translateY(-500px);
    }
    .nav-list.active {
        opacity: 1;
        transform: translateY(0px);
    }
    
    .toggle-button {
        display: flex;
        z-index: 21;
    }

    .toggle-button.open > .bar:nth-child(1) {
        transform: rotate(45deg); 
        translate: 0px 10px;
    }
    .toggle-button.open > .bar:nth-child(2) {
        opacity: 0;
    }
    .toggle-button.open > .bar:nth-child(3) {
        transform: rotate(-45deg); 
        translate: 0px -10px;
    }



    .nav-list-elem {
        margin: 10px;
    }
    .nav-list-elem a {
        font-size: 25px;
        letter-spacing: .2em;
        width: 100vh;
        opacity: 0;
        transition: all .05s linear;
    }
    .nav-list.active .nav-list-elem a{ 
        opacity: 1;
        transition: all .9s linear;
    }
}
